html {
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    text-align: center;
    background: rgb(201,220,254);
    background: linear-gradient(0deg, rgba(201,220,254,1) 0%, rgba(255,255,255,1) 100%);
    font-family: Roboto;
}

.row {
    display: flex;
}

img.played {
    filter: grayscale(100%);
}

div#list {
    display: inline-block;
}

div.character {
    float: left;
    margin: 8px;
    text-align: center;
}

div.character:last-child {
    margin: 8px auto;
}

img.attachment-full {
    top: 0;
    right: 0;
    position: absolute;
}

div#social {
    margin-top: 128px;
    height: 1.5em;
}

div#social > * {
    vertical-align: middle;
}

div#social > a > img:not(:first-child) {
    margin-left: 0.5em;
}

div#social > a > img {
    max-height: 100%;
}
